html{
    scroll-behavior: smooth;

}

a{
    padding: 0;
    margin: 0;
}

h2{
    padding-top: 11vh;
    font-weight: bold;
    color: darkred;
    font-size: 30px;
    font-family: fantasy;
}

#page0{
    padding-top: 10vh;
    background-image: url("images/home-background.jpg");
    min-height: 100vh;

}

h1{
    padding-top: 25vh;
    color: white;
    text-align: center;
    font-size: 50pt;
}

p{
    padding-top: 10vh;
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 20pt;
}

#arrow{
    text-align: center;
    margin-top: 25vh;
}

#page1{
    background-color: bisque;
    font-family: 'Lucida Handwriting', cursive;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

#namecard{
    margin-left: 10vh;
    margin-top: 15vh;
}

#collapseWidthExample{
    justify-content: center;
    margin-top: 10vh;
    text-align: center;
}

h4{
    font-size: 25pt;
    color: darkgreen;

}

#collapseWidthExample1{
    margin-top: 5vh;
    text-align: center;

}

h6{
    font-size: 14pt;
    text-decoration: underline;
}

h3{
    font-size: 15pt;
    text-shadow: 2px 2px grey;
}

#page2{
    font-family: 'Lucida Handwriting', cursive;
    min-height: 100vh;
    background-image:url("images/pexels-abdullah-ghatasheh-1631677.jpg");
    justify-content: center;
    text-align: center;
}

.container-resume{
    margin-top: 10vh;
}

.card{
    background-color: transparent;
}

.list-group-item{
    background-color: transparent;
}



#page3{
    font-family: 'Lucida Handwriting', cursive;
    min-height: 100vh;
    animation: pulse 5s infinite;
    justify-content: center;
    text-align: center;
}

@keyframes pulse {
    0% {
      background-color: lightgoldenrodyellow;
    }
    100% {
      background-color: lightcyan;
    }
}    

#page4{
    font-family: 'Lucida Handwriting', cursive;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    background-color: grey;

    
}

.container-form{
    margin-right: 0;
    padding-right: 0;
    margin-left: 7vh;
    background-color: gray;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, white, black);

}

.container-connect{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 25vh;
    background-color: gray;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, white, black);

}

.main{
    font-family: 'Lucida Handwriting', cursive;
    overflow: auto;
}

.header{
    font-family: 'Lucida Handwriting', cursive;
    min-width: 100vh;
}

footer{
    color: white;
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
}

#Parallax { 
    min-height: 100vh;
	background-image: url("images/cool-background.png");
	min-height: 200px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

#Parallax1 { 
    min-height: 100vh;
	background-image: url("images/cool-background1.png");
	min-height: 200px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

#Parallax2 { 
    min-height: 100vh;
	background-image: url("images/cool-background\ \(1\).png");
	min-height: 200px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

#Parallax3 { 
    min-height: 100vh;
	background-image: url("images/cool-background\ \(2\).png");
	min-height: 200px; 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

span{
    text-align: center;
    color: antiquewhite;
    font-size: 15pt;
    font-family: cursive;
}

.modal-backdrop {
    z-index: 0;
  }